* {
    text-align: center;
}

h1 {
    font-size: 5em;
    color: rgb(0, 167, 167);
    margin-top: .8em;
    margin-bottom: 0;
}

h2 {
    font-size: 2em;
}

.permanentMarkerFont {
    font-family: 'Permanent Marker', cursive;
}

body {
    background-color: rgb(255, 163, 180);
}



#password {
    display: block;
    margin: auto;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}


