* {
    text-align: center;
}

#password {
    display: block;
    margin: auto;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

.checkCharacterFormat {
    font-family: 'Montserrat', sans-serif;
}

.sansSerif {
    font-family: Arial, Helvetica, sans-serif;
}